html, body, .wrapper {
	height: 100%;
}

.wrapper {
	background-color: #2196f3;
	display: flex;
	align-items: center;
	justify-content: center;
}

.toastContainer {
	position: absolute;
	right: 30px;
	top: 0px;
}

.loginBox {
	width: 400px;
	padding: 8px 0 0 0;
}