<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="card col s12 header">
				<h5 class="left">Welcome, user!</h5>
				<button (click)="logout()" class="btn-floating red right logoutButton tooltipped" data-position="bottom" data-delay="50" data-tooltip="Logout" href="">
					<i class="material-icons">power_settings_new</i>
				</button>
			</div>
		</div>

		<div class="row">
			<div class="card col s12">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum accumsan ullamcorper. Vestibulum mollis eget ipsum a tincidunt. Etiam ultrices vulputate quam. Cras a elit vulputate, malesuada lorem at, placerat purus. Praesent dapibus scelerisque ex, nec vestibulum dolor sagittis vel. Nunc aliquam ante turpis, nec ullamcorper lectus condimentum id. Duis et sapien ac libero finibus tincidunt in eget sem. Aenean vehicula urna nec libero consequat, vel mollis augue fermentum.</p>
				<p>Duis gravida nunc odio, id efficitur lectus lacinia eu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec et libero sed elit pulvinar hendrerit. Etiam hendrerit rutrum mi, vitae sodales erat dictum ac. Nulla aliquam finibus ultricies. Phasellus ut est velit. Maecenas ut facilisis risus, quis egestas nisl. Vestibulum placerat lacus neque, at pulvinar elit sagittis eget. Morbi quis diam et felis posuere eleifend. Curabitur finibus, dui ac imperdiet efficitur, turpis metus sollicitudin lorem, nec elementum sapien eros eu tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
				<p>Nulla facilisi. Maecenas eu quam massa. Ut ut venenatis odio. Donec quis malesuada magna. Aliquam consectetur arcu vitae turpis consectetur posuere. Donec facilisis diam vel feugiat tincidunt. Mauris pretium mi eros, sit amet posuere dolor laoreet sit amet. Quisque vitae varius tellus, a viverra erat. Morbi pulvinar tortor non tellus blandit tincidunt. Vestibulum et elit egestas, mollis urna sed, maximus mi. Nam ut est vitae libero pretium fringilla quis ut nunc. Ut blandit iaculis risus at ultricies.</p>
			</div>
		</div>
	</div>
</div>